# specific to npm package
deployments

# Auto generated code Go and TypeScript bindings
bindings/

node_modules
.env
coverage
coverage.json
typechain
typechain-types
dist/

#Hardhat files
cache
artifacts

# Foundry files
forge-cache/

*.tgz
src/contracts.template.ts

.idea/
.direnv/
forge-cache/

bun.lockb
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

# Coverage Report
report
lcov.info
