name: Generate Bindings

on:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  gen-go-bindings:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          submodules: "recursive"

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.3"

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install ABIGen
        run: |
          go install github.com/ethereum/go-ethereum/cmd/abigen@latest

      - name: Generate Bindings
        run: |
          make abigen clean

      - name: Check and Commit Changes
        id: commit
        run: |
          if [ $(git status --porcelain | sed 's/^...//' | grep bindings/ | wc -l) -ne 0 ]; then
            git config --local user.email "gen-go-bindings[bot]@polymerlabs.org"
            git config --local user.name "gen-go-bindings[bot]"
            go mod tidy
            git add ./bindings ./go.mod ./go.sum
            git commit -m "feat: generate go bindings [gen-go-bindings bot]"
            echo "committed=true" >> $GITHUB_OUTPUT
          else
            echo "committed=false" >> $GITHUB_OUTPUT
          fi

      - name: Create PR
        if: steps.commit.outputs.committed == 'true'
        run: |
          LAST_COMMIT=$(git rev-parse HEAD)

          git checkout -b "gb/go-bindings-bot-$LAST_COMMIT"

          git remote set-url origin \
            https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git
          git push -f -u origin "gb/go-bindings-bot-$LAST_COMMIT"

          gh pr create --base main --head "gb/go-bindings-bot-$LAST_COMMIT" \
            --body "Generated Go Bindings for vibc-core-smart-contracts" \
            --title "feat: generate go bindings [gen-go-bindings bot]"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
